DEBUG=False
ALLOWED_HOSTS=erp.powerpayafrica.com
CSRF_TRUSTED_ORIGINS=https://erp.powerpayafrica.com
SITE_URL=https://erp.powerpayafrica.com

DATABASE_ENGINE=postgresql
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
DB_CONN_MAX_AGE=60

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
USE_X_FORWARDED_HOST=True

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=

GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=120
LOG_LEVEL=INFO

LETSENCRYPT_EMAIL=admin@powerpayafrica.com
